body{
    font-family: monotype corsiva;
    text-align:center ;
    font-family: 32px;
    color:pink
}
h1{
    color:blanchedalmond;
    font-family: algerian;
}

p{
    background-color:red;
    font-family: 'Times New Roman', Times, serif;
}